@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: Outfit;
}
#root{
  min-height: 100vh;
  display: flex;

}

.main-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0px 20px;
  margin: auto;
}

.search-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #f0f4f9;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box img{
  width : 24px;
  cursor: pointer;
}

.search-box input{
  flex:1;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 18px;
}
.search-box div{
  display: flex;
  gap : 15px;
  align-items: center;
}

.main .bottom-info{
  font-size: 13px;
  margin: 15px auto;
  text-align: center;
  font-weight: 300;
}